<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="Posts">
                    <add key="/2011/10/gdd-2011-gtugs-day-2011.html" value="http://abelozerov.com/blog/2011/10/21/gdd-2011-gtugs-day-2011/" />
                    <add key="/2011/08/google-developer-day-challenge-2011.html" value="http://abelozerov.com/blog/2011/08/15/google-developer-day-challenge-2011/" />
                    <add key="/2011/04/ufo-two-sides.html" value="http://abelozerov.com/blog/2011/04/18/ufo-two-sides/" />
                    <add key="/2011/01/nhibernate-fluent-nhibernate.html" value="http://abelozerov.com/blog/2011/01/08/nhibernate-fluent-nhibernate/" />
                    <add key="/2010/07/sennheiser.html" value="http://abelozerov.com/blog/2010/07/03/sennheiser/" />
                    <add key="/2010/06/macos-x.html" value="http://abelozerov.com/blog/2010/06/01/macos-x/" />
                    <add key="/2010/05/firefox.html" value="http://abelozerov.com/blog/2010/05/16/firefox/" />
                    <add key="/2010/01/updatepanel.html" value="http://abelozerov.com/blog/2010/04/01/updatepanel/" />
                    <add key="/2009/12/stringformat.html" value="http://abelozerov.com/blog/2009/12/19/stringformat/" />
                    <add key="/2009/10/iphone.html" value="http://abelozerov.com/blog/2009/10/20/iphone/" />
                    <add key="/2009/09/aspnet-redirect-querystring.html" value="http://abelozerov.com/blog/2009/09/26/aspnet-redirect-querystring/" />
                    <add key="/2009/05/blog-post.html" value="http://abelozerov.com/blog/2009/05/30/blog-post/" />
                    <add key="/" value="http://abelozerov.com" />
					<add key="/feeds/posts/default" value="http://feeds.feedburner.com/abelozerov" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Redirect rule1 for Posts">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{Posts:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

